<div class="row">
  <div class="col-md-8 col-md-offset-4">
    <div class="jumbotron">
      <h1>Welcome to The Food Diary</h1>
      <p>Simple nutrition for fat loss is what everyone wants.
        And really, nutrition for fat loss is SIMPLE! There are always people that
        get so hung up on all the misinformation that they get trapped! It’s
        “paralysis by analysis” for many of them. I am going to boil it down and
        give the straight talk.It’s not a “secret” like some people will lead you
        on with… it’s simple nutrition for fat loss.</p>
      <!-- <div class="text-center landing_title"> -->
        <p><%= link_to "More Info", info_path, class: "btn btn-primary btn-lg btn-landing" %></p>
        <p><%= link_to "Sign Up", new_user_registration_path, class: "btn btn-success btn-lg" %></p>
    </div>
  </div>
</div>
