<h2>Simple Nutrition for Fat Loss Guidelines</h2>
  <h3>1. You need to track your food!</h3>
    <p>There are still people that don’t know how much they eat! They don’t even track their calories!!! It’s really tempting to think, “Well I can just eat ‘good’ food and be fine.” Or maybe you know some people that are really fit that don’t track. My question then is… Is that you? Are you really fit and have never had to track? If the answer is no, you need to track. How can you know how your body is responding to your changes in nutrition if you don’t track? Overall calories matter and your macro nutrients (protein, carbs, and fats) matter. Quit thinking you are above it. Just do it! You might not have to track forever, but if you are going for fat loss, I can 100% promise you will have better, more predictable, faster, easier results if you track. So man or woman up! LOL
      <br>Tracking also means that you are measuring and weighing your portions. We all lie to ourselves without knowing at times. If you want fat loss, get a scale and some measuring cups.</p>

  <h3>2. Stick to whole foods.</h3>
    <p>Yes you can track processed foods too, but whole foods make tracking for fat loss simple. You are also FAR less likely to miss out on beneficial vitamins, minerals, and fiber. Whole foods also make it easier to stay in your calorie goal.
      Whole foods aren’t magical, they just make it really simple to set up a day for your goals and know exactly what you are getting. </p>

  <h3>3. Be a person of routine.</h3>
    <p>If you track a few days that hit your nutrition goals perfectly, repeat them. No need to come up with 30 days of a nutrition plan. If you have a solid 7-10 days, you can really keep that going. Even having a go to breakfast or lunch can make it really easy and simple to be consistent. You might always know what you get for breakfast and lunch and then work around what your family is having for dinner. It’s the consistent daily work that adds up to victory. Make is easy on yourself by having a plan that you can repeat.</p>

  <h3>4. Cook for yourself.</h3>
    <p>This kinda goes back to whole foods, but cook for yourself. Your simple nutrition for fat loss gets really SIMPLE when you know exactly how things are prepared. You know what you put in the dish so there is no guessing. Guys, is your wife a little put off by your new nutrition plan? Well offer to make dinner! You can still do her recipes but pull out what you need. You will earn major points and she will know that you really what to achieve your goals and don’t want to burden her too much. Maintain that harmony at home :-)</p>

  <h3>5. Have a backup plan.</h3>
    <p>“Failing to prepare is preparing to fail.” You need a back up plan for truly simple nutrition for fat loss. Do you know what you can buy at a gas station that won’t ruin your day? Do you know what you can order at a fast food joint if all else fails? Do you know what to order at your favorite restaurants so you can still go out with family and friends?
      All of those are GREAT preparations to make and will save you more than you know.</p>

  <h2>Simple Nutrition for Fat Loss Foods</h2>
    <p>So here is my suggestion if you are starting out on what foods to actually buy and eat. This may seem more strict at the start, but if you are like me, you will need a BIG change from your old life.</p>

  <h4>Proteins</h4>
    <p>Whey protein powder</p>
    <p>Egg whites</p>
    <p>Skinless chicken breast</p>
    <p>Lean deli lunch meats</p>
    <p>Lean ground meats (beef, pork, turkey, etc - shoot for 90/10 or better)</p>
    <p>Tuna</p>
    <p>Salmon (trak the fat)</p>
    <p>Fat free cottage cheese</p>
    <p>Fat free greek yogurt</p>
    <br>
  <h4>Carbohydrates</h4>
    <p>Oats</p>
    <p>Beans</p>
    <p>Sweet potatoes</p>
    <p>Vegetables</p>
    <p>Some fruit - easy to pack on carbs with fruit - apples, bananas, strawberries, raspberries, melon</p>
    <p>Rice</p>
    <p>Whole wheat breads (you can find high fiber and high protein types often)</p>
    <p>High fiber tortillas</p>
    <br>
  <h4>Fats</h4>
    <p>Nuts (and nut butters)</p>
    <p>Oils (moderately if you use them to prepare food - olive oil, coconut oil, etc)</p>
    <p>Avacados</p>
    <p>Whole eggs (will add to protein too)</p>
    <p>Fats from some of your protein (beef, pork, fish, etc)</p>
    <p>Fish oil supplements</p>
    <br>
  <h4>Are you ready to transform your life?<h4>
    <p><%= link_to "Sign Up", new_user_registration_path, class: "btn btn-success btn-lg" %></p>
