// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.landing_title {
  padding-top: 200px;
}

.landing {
  background: image-url("fruitsalad.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 100vh;
}

.navbar {
  margin-bottom: 0px;

}

.btn-landing {
  background: none;
  border: solid;
}

.jumbotron{
  background-color: rgba(255,0,0,.2);
  color: black;
}

.jumbotron p {
  font-weight: bold !important;
}
